
.text{
    font-family: "Fira Sans",sans-serif;
}
.text:not(.download){
    background-color: rgb(255, 255, 235);
    color:#c00000;
    
}
.bi.bi-download{
    margin-right:3px;
}
.text.button{
    background-color:#c00000;
    color: rgb(255, 255, 235);
}
.text.button:hover{
    font-weight: bolder;
}
.text.button:active{
    background-color:rgb(255, 255, 235);
    color: #c00000;
}
body{
    background-image: url("../images/pexels-ivo-rainha-527110-1290141.jpg");
    background-size: cover;
}
form.signuplogin{
    max-width: 1920px;
    
}
form.flex-col{
    display:flex;
    flex-direction: column;
    gap:1px;
}
.upload-form{
    max-width:1500px;
    width:100%
}
.flex-col{
    display:flex;
    flex-direction: column;
    max-width: 200px;
}
.row{
    display:flex;
    flex-direction: row;
}
.column{
    display:flex;
    flex-direction: column;
    padding-bottom: 50px;
}
th{
    color: rgb(255, 255, 235); 
    background-color:#cc0000;
}
navbar{
    text-align: right;
}
table{
    margin-left: 15%;
    margin-right: 15%;
    border:100px;
    padding:20%;
}

.anch{
    margin-left:16px;
    
    font-size:150%;
}
td,th{
    width:120px;
    padding:2%;
    margin:100%;
}
.wrapper{
    flex:1;
    min-height: 73.5vh;
}
footer{
    position:absolute;
    
    width:100%;
}
.filter-buttons{
    display:flex;
    flex-direction: row;
}

.brand {
    color: #b30000;
    font-weight: bold;
  }
  
  .features .shadow-sm:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
  
  .about {
    background: #b30000 !important;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  input.form-control {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .btn-danger,
  .btn-outline-danger {
    font-weight: bold;
    border-radius: 0.5rem;
  }
  
  .btn-outline-danger:hover {
    background-color: #b30000;
    color: white;
  }
  