{%extends "layout.html"%}

{% block content %}
<div class="container signuplogin">
    
        <h1 class="text text-center">Login &amp; Sign-Up</h1>
        <div class="row">
        
            <div class="col-6 column text text-start d-flex align-items-center justify-content-end">
            <h2 class="text text-center" >Login</h2>
            
                <form class="text text-center flex-col" method="post">
                    <label for="loginemail">Email</label>
                    <input class="rounded" type="email" id="loginemail" name="loginemail" required><br>
                    <label for="loginpassword">Password</label>
                    <input class="rounded" type="password" id="loginpassword" name="loginpassword" required><br>
                    <input type="submit" value="Login" style="border-color:#dd1111;" class="rounded-pill text button">
                </form>
            </div>
    
    
    <div class ="col column col-6 text text-start d-flex align-items-center justify-content-end">
    <h2 class="text text-center" >Sign-Up</h2>
    <form class="text text-center flex-col" method="post">
        <label for="signupname">Name</label>
        <input class="rounded" type="text" id="signupname" name="signupname" required><br>
        <label for="signupsurname">Surname</label>
        <input class="rounded" type="text" id="signupsurname" name="signupsurname" required><br>
        <label for="signupemail">Email</label>
        <input class="rounded" type="email" id="signupemail" name="signupemail" required><br>
        <label for="signuppassword">Password</label>
        <input class="rounded" type="password" id="signuppassword" name="signuppassword" required><br>
        <label for="signupconfirmpassword">Confirm Password</label>
        <input class="rounded" type="password" id="signupconfirmpassword" name="signupconfirmpassword" required><br>
        <input type="submit" value="Sign Up" style="border-color:#dd1111;"  class="rounded-pill text button">
    </form>
    </div>
    </div>
    </div>
{% endblock %}
