{% extends "layout.html"%}
{%block content%}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 class="text text-align">Repository</h1>
        
        <table class="text table-bordered text-align">
            <tr class="title" style="">
                <th>File Name</th>
                <th>Date Created</th>
                <th>Subject Category</th>
                <th>Author(s)</th>
                <th>Uploaders</th>
                <th>Abstract Preview</th>
                <th>Availability</th>
                <th></th>
            </tr>
            <tr>
                <td>FileNo</td>
                <td>19/01/2011</td>
                <td>Engineering</td>
                <td>The Author</td>
                <td>Keith</td>
                <td>Lorem Impsun</td>
                <td>Open Access</td>
                <td style="margin-right:15px;"><button class="rounded-pill">Download</button></td>
            </tr>
            
        </table>
        
{% endblock %}
     